# Core dependencies
Pillow>=10.0.0  # For image handling
reportlab>=4.0.4  # For PDF generation
qrcode>=7.4.2  # For QR code generation

# Development dependencies
pytest>=7.4.0  # For testing
black==24.10.0  # For code formatting
