option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: src/static

packages:
  yum:
    git: []
    python3-devel: []
    gcc: []

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
  02_install_requirements:
    command: "pip install -r requirements.txt"
  03_collectstatic:
    command: "mkdir -p /var/app/current/src/static" 